<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/about.css">
<!-- /Remove Style -->


<header class="pb-5">
    <div class="container">
        About Header
    </div>
</header>
<section>
    <div class="container">
        About Section
    </div>
</section>
