<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/home.css">
<!-- /Remove Style -->


<header class="pb-5">
    <div class="container">
        Home Header
    </div>
</header>
<section>
    <div class="container">
        Home Section
    </div>
</section>
